<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Quanlythuhocphi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="QLThuhocphiEntities" connectionString="metadata=res://*/DataAccess.QLTC.csdl|res://*/DataAccess.QLTC.ssdl|res://*/DataAccess.QLTC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=QLThuhocphi;persist security info=True;user id=admin;password=sa@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <Quanlythuhocphi.Properties.Settings>
      <setting name="MaNV" serializeAs="String">
        <value />
      </setting>
      <setting name="HoVaTen" serializeAs="String">
        <value />
      </setting>
      <setting name="Diachi" serializeAs="String">
        <value>Thanh Xuân - Hà Nội</value>
      </setting>
      <setting name="Dienthoai" serializeAs="String">
        <value>09879098767</value>
      </setting>
      <setting name="Email" serializeAs="String">
        <value>dainam@gmail.com</value>
      </setting>
      <setting name="Tieude" serializeAs="String">
        <value>Trường Đại Học ABC</value>
      </setting>
    </Quanlythuhocphi.Properties.Settings>
  </userSettings>
</configuration>